* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  /* border: 1px solid red; */
}

body {
  overflow-x: hidden;
}

/*--------------------------BACKGROUND ANIMATION STYLE(nog niks mee gedaan)-------------------------------*/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.gradient_color {
  background: linear-gradient(-45deg, #FFFFFF, #FFEFEF, #FCFCFC, #FFFFFF);
  background-size: 500% 500%;
  animation: gradient 15s ease infinite;
}

/*--------------------------NAVIGATION BAR STYLE-------------------------------*/

nav {
  width: 100%;
  position: relative;
  z-index: 10;
}
nav .nav-menu {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  text-transform: uppercase;
}
.logo {
  padding: 20px 20px;
  position: absolute;
  font-weight: bold;
}
.logo {
  color: #000;
  text-decoration: none;
}
nav li {
  list-style-type: none;
  padding: 20px 20px;
  position: relative;
}
nav .nav-menu a {
  text-decoration: none;
  color: #333;
}
nav .nav-menu li:hover {
  box-shadow: inset 0px -2px 0px 0px #000;
  transition: box-shadow 0.5s;
}

/* DROPDOWN MENU STYLE START */
.dropdown {
  display: none;
  background: rgba(255,255,255,1);
  left: 0;
  width: 100%;
  list-style-type: none;
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
}
nav .nav-menu li .dropdown li {
  list-style-type: none;
  padding: 10px 5px;
  font-weight: 600;
}
nav .nav-menu li .dropdown li:hover {
  box-shadow: inset 0px -2px 0px 0px #777;
  transition: box-shadow 0.5s;
}

nav .nav-menu li:hover .dropdown {
  display: block;
  position: absolute;
  z-index: 15;
}
/* DROPDOWN MENU STYLE END */

nav img {
  display: none;
  height: 30px;
  padding: 15px;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.burger_check {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: none;
  z-index: 5;
  cursor: pointer;
}
.navbar_burger {
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  visibility: hidden;
}
.navbar_burger ul {
  text-align: center;
  font-size: 30px;
}
.navbar_burger li {
  list-style-type: none;
  padding: 20px 20px;
  text-transform: uppercase;
}
.navbar_burger ul a {
  text-decoration: none;
  color: #FFF;
}
.navbar_burger ul li a:hover {
  color: #DDA;
  transition: color 0.5s;
}
/* DROPDOWN RESPONSIVE MENU STYLE START */
.dropdown-burger {
  display: none;
  background: rgba(255,255,255,0.1);
  left: 0;
  width: 100%;
  list-style-type: none;
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  border-radius: 2px;
}
.navbar_burger .nav_menu_burger li .dropdown-burger li {
  list-style-type: none;
  padding: 10px 5px;
  font-weight: 600;
}
.navbar_burger .nav_menu_burger li .dropdown-burger li:hover {
  box-shadow: inset 0px -2px 0px 0px #777;
  transition: box-shadow 0.5s;
}

.navbar_burger .nav_menu_burger li:hover .dropdown-burger {
  display: block;
}
/* DROPDOWN MENU STYLE END */


/*--------------------------RESPONSIVE NAVIGATION BAR STYLE-------------------------------*/

@media only screen and (max-width: 700px) {
  nav img {
    display: block;
  }
  nav ul {
    visibility: hidden;
  }
  .burger_check {
    display: block;
    opacity: 0;
  }
  .burger_check:checked + .navbar_burger{
    visibility: visible;
  }
}


/*--------------------------BANNER STYLE-------------------------------*/

.banner {
  background-image: url("../img/box_girl.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
}
.banner_txt {
  width: 350px;
  padding-left: 50px;
}
.banner_txt p {
  letter-spacing: -1px;
  line-height: 65px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80px;
  color: #fff;
  transition: font-size 0.5s;
}
.banner_txt a{
  background-color: rgba(5,5,5, 0.9);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  padding: 5px 20px;
  line-height: 50px;
  text-decoration: none;
  transition: color .5s, background-color .5s;
}
.banner_txt a:hover {
  color: black;
  background-color: white;
  transition: color .5s, background-color .5s;
}

.banner2 {
  background-image: url("../img/nike_shoe.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
}
.banner_txt2 {
  width: 540px;
  padding-right: 50px;
}
.banner_txt2 p {
  letter-spacing: -1px;
  line-height: 65px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80px;
  color: #fff;
  transition: font-size 0.5s;
  text-align: right;
}
.banner_txt2 a{
  background-color: rgba(5,5,5, 0.9);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  padding: 5px 20px;
  margin-left: 50%;
  line-height: 50px;
  text-decoration: none;
  transition: color .5s, background-color .5s;
}
.banner_txt2 a:hover {
  color: black;
  background-color: white;
  transition: color .5s, background-color .5s;
}

/*--------------------------RESPONSIVE BANNER STYLE-------------------------------*/

@media only screen and (max-width: 700px) {
  .banner_txt {
    width: 270px;
  }
  .banner_txt p {
    font-size: 60px;
    line-height: 50px;
    transition: font-size 0.5s;
  }
  .banner_txt2 {
    width: 470px;
  }
  .banner_txt2 p {
    font-size: 60px;
    line-height: 50px;
    transition: font-size 0.5s;
  }
}
@media only screen and (max-width: 450px) {
  .banner_txt {
    width: 270px;
  }
  .banner_txt p {
    font-size: 40px;
    line-height: 35px;
    transition: font-size 0.5s;
  }
  .banner_txt2 {
    width: 470px;
  }
  .banner_txt2 p {
    font-size: 40px;
    line-height: 35px;
    transition: font-size 0.5s;
  }
}

/*--------------------------BANNER NAVIGATION STYLE-------------------------------*/

.banner_nav_wrapper {
    padding: 30px;
    padding-top: 50px;
}
.banner_nav p {
  font-size: 20px;
}
.banner_nav_items {
  display: flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  margin-top: 15px;
  position: relative;
}
.banner_nav_items .item1 {
  background-image: url("../img/male_skate.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 500px;
  height: 700px;
}
.banner_nav_items .item2 {
  background-image: url("../img/women_box.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 500px;
  height: 700px;
}
.banner_nav_items a {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255,1);
  transition: background-color .3s;
  color: rgb(0,0,0);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  padding: 10px 30px;
  margin: 15px;
}
.banner_nav_items a:hover {
  background-color: rgba(255,255,255,0.7);
  transition: background-color .3s;
}

/*-----------FOOTER STYLE-----------*/

.footer {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  margin-top: 20px;
  height: 50px;
  width: 100%;
  color: rgba(44,44,44);
  position: relative;
  z-index: 10;
}

.footer p {
  font-size: 12px;
}

/*-----------ITEM WRAPPER STYLE-----------*/
.title_items p {
  padding: 30px 15vw;
  font-size: 30px;
  font-weight: 300;
}

.item_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  padding: 0 15vw;
}
.item {
  background-color: rgba(44,44,44,1);
  position: relative;
  padding-top: 130%;
  margin: 1px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.item_clickable {
  color: black;
  text-decoration: none;
}
.item_bottom {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(233,233,233,0.9);
  width: 100%;
  padding-top: 20%;
  padding-bottom: 0;
  transition: padding-bottom 0.5s;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}
.item_bottom p.product {
  position: absolute;
  top: 50%; /* center the p vertically */
  transform: translateY(-50%); /* center the p vertically */
}
.item_bottom p.beschrijving {
  position: absolute;
  margin-left: 15px;
  margin-right: 15px;
  top: 100%;
  opacity: 0;
}
.item_bottom p.kleuren {
  position: absolute;
  margin-left: 15px;
  margin-right: 15px;
  top: 100%;
  opacity: 0;
}

.item_bottom:hover {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  padding-bottom: 40%;
  transition: padding-bottom 0.5s;
}
.item_bottom:hover > p.product {
  top: 10%;
  transform: translateY(0);
  margin-left: 15px;
  transition: top 0.5s, transform 0.5s;
}
.item_bottom:hover > p.beschrijving {
  top: 25%;
  opacity: 1;
  transition: top 0.5s, opacity 1s;
}
.item_bottom:hover > p.kleuren {
  top: 80%;
  opacity: 1;
  transition: top 0.5s, opacity 1s;
}

.red_dot {
  height: 15px;
  width: 15px;
  background-image: linear-gradient(to bottom right, rgba(255,0,0,0.2), rgba(255,0,0,1));
  border-radius: 50%;
  position: absolute;
  top: calc(80% - 14px);
  margin-left: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.white_dot {
  height: 15px;
  width: 15px;
  background-image: linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(200,200,200,1));
  border-radius: 50%;
  position: absolute;
  top: calc(80% - 14px);
  margin-left: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.black_dot {
  height: 15px;
  width: 15px;
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.2), rgba(0,0,0,1));
  border-radius: 50%;
  position: absolute;
  top: calc(80% - 14px);
  margin-left: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.blue_dot {
  height: 15px;
  width: 15px;
  background-image: linear-gradient(to bottom right, rgba(0,0,255,0.2), rgba(0,0,250,1));
  border-radius: 50%;
  position: absolute;
  top: calc(80% - 14px);
  margin-left: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.orange_dot {
  height: 15px;
  width: 15px;
  background-image: linear-gradient(to bottom right, rgba(255,165,0,1), rgba(0,0,0,0.1));
  border-radius: 50%;
  position: absolute;
  top: calc(80% - 14px);
  margin-left: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.gray_dot {
  height: 15px;
  width: 15px;
  background-image: linear-gradient(to bottom right, rgba(242,241,239,1), rgba(0,0,0,0.1));
  border-radius: 50%;
  position: absolute;
  top: calc(80% - 14px);
  margin-left: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}

/* MEN */
.item_revolt {
  background-image: url("../img/nike_revolt.jpg");
  background-position: center;
  background-size: cover;
}
.item_nike_yw {
  background-image: url("../img/Nike_Shoe_Yellow_White(small).jpg");
  background-position: center;
  background-size: cover;
}
.item_nike_print {
  background-image: url("../img/Nike_Shoe_Print(small).jpg");
  background-position: center;
  background-size: cover;
}
.item_track_suit {
  background-image: url("../img/puma_pak.jpg");
  background-position: center;
  background-size: cover;
}
.item_nike_shirt_red {
  background-image: url("../img/Nike_Shirt_Sport_Red(small).jpg");
  background-position: center;
  background-size: cover;
}
.item_shirt_bwb {
  background-image: url("../img/Shirt_Black_White_Blue(small).jpg");
  background-position: center;
  background-size: cover;
}

/* WOMEN */
.item_unsplash_women {
  background-image: url("../img/adidas_unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item_strepper_women {
  background-image: url("../img/adidas_strepper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item_bright_women {
  background-image: url("../img/converse_bright.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item_leggings_women {
  background-image: url("../img/nike_leggings.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item_hoodie_women {
  background-image: url("../img/adidas_hoodie.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item_nike_shirt_women {
  background-image: url("../img/nike_shirt.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*-----------ITEMS CARD RESPONSIVE-----------*/

@media only screen and (max-width: 1300px) {
  .item_wrapper {
    padding: 0 15px;
    transition: padding, 0.5s;
  }
  .title_items p {
    padding: 0 15px;
    transition: padding, 0.5s;
  }
}
@media only screen and (max-width: 600px) {
  .item_wrapper {
    grid-template-columns: repeat(2, 50%);
  }
  .item_bottom {
    font-size: 11px;
  }
  .title_items p {
    font-size: 20px;
  }
}

/*-----------CONTACT STYLE-----------*/

.contact_container {
  width: 100%;
  border: 2px solid rgba(0,0,0,1);
  border-radius: 5px;
}

input[type=text] {
  display: flex;
  width: 75%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 5px;
  background-color: rgba(50.2,50.2,50.2,0.2)

}

input[type=email] {
  display: flex;
  width: 75%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 5px;
  background-color: rgba(50.2,50.2,50.2,0.2)

}

input[type=tel] {
  display: flex;
  width: 75%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 5px;
  background-color: rgba(50.2,50.2,50.2,0.2)

}

input[type=radio] {
  display: flex;
  width: 75%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 5px;
  background-color: rgba(50.2,50.2,50.2,0.2)

}

input[type=date] {
  display: flex;
  justify-content: center;
  width: 75%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 5px;
  background-color: rgba(50.2,50.2,50.2,0.2)
}

/*-----------ITEM PAGE STYLE-----------*/

.item_view_wrapper {
  display: flex;
}
.item_img {
  width: calc(100% - 320px);
  height: 650px;
}
.item_img_n_r {
  background-image: url("../img/nike_shoe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item_img_n_v {
  background-image: url("../img/Nike_Shoe_Yellow_White.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item_img_n_p {
  background-image: url("../img/Nike_Shoe_Print.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item_img_ua_ts {
  background-image: url("../img/puma_pak.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item_img_a_s {
  background-image: url("../img/Shirt_Black_White_Blue.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item_img_n_s {
  background-image: url("../img/Nike_Shirt_Sport_Red.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item_order {
  width: 280px;
  margin-bottom: 50px;
  padding: 20px;
  padding-top: 80px;
  height: calc(100vh - 60px);
  background: white;
  position: fixed;
  right: 0;
  transform: translateY(-60px);
}

.item_title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}
.item_text_kleur {
  text-transform: uppercase;
  font-weight: 100;
}
.item_prijs {

}
.item_maat {
  text-transform: uppercase;
  font-size: 14px;
}
.maat_items {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}
.maat_items input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 0;
  margin: 0;
}
.maat_items label {
  background-color: white;
  padding: 10px 30px;
  font-size: 14px;
  text-align: center;
  box-shadow: inset 0px 0px 0px 0.5px rgba(240,240,240,1);
}
.maat_items label:hover {
  background-color: black;
  color: white;
}
.maat_items input[type="radio"]:checked + label {
  background-color: black;
  color: white;
  font-weight: 600;
}

.submit_button {
  background: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
  border: none;
  padding: 12px 40px;
  font-size: 15px;
  font-weight: 500;
}
.submit_button:hover {
  color: rgba(200,200,200,1);
  cursor: pointer;
}

.item_view_description {
  padding: 30px;
  margin: 0 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
}
.item_view_description_wrapper {
  width: 500px;
  align-self: flex-start;
}
.description {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 100;
}
.description_text {
  font-size: 20px;
  font-weight: 300;
}
.img {
  width: 450px;
  padding: 0 50px;
  object-fit: contain;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*------------RESPONSIVE ITEM DESCRIPTION STYLE-------------*/

@media only screen and (max-width: 700px) {
  nav {
    position: static;
  }

  .item_view_wrapper {
    display: block;
  }
  .item_img {
    width: 100%;
  }
  .item_order {
    width: auto;
    height: auto;
    padding: 20px;
    margin-bottom: 0;
    position: relative;
    transform: translateY(0);
  }

  .maat_items {
    grid-template-columns: repeat(5, 20%);
  }

  .item_view_description {
    width: fit-content;
    display: block;
  }
  .item_view_description_wrapper {
    width: 100%;
  }
  .img_shoe {
    width: 100%;
    padding: 0;
  }
}

/*--------------------------ABOUT US STYLE-------------------------------*/

.about_us_banner {
  min-height: 100vh;
}

.video_banner {
  transform: translateY(-60px);
}
.video_banner video {
  min-height: 100vh;
  min-width: 100%;
}

.video_tekst {
  position: absolute;
  top: 15%;
  color: rgba(255,255,255,1);
}
.top_tekst {
  animation: fadeIn ease 5s;
  text-align: center;
  width: 100vw;
  font-size: 15px;
  font-weight: 200;
}
.bottom_tekst {
  animation: fadeIn ease 5s;
  text-align: center;
  width: 100vw;
  font-size: 120px;
  font-weight: 600;
  line-height: 150px;
}


.about_us_banner2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.about_us_banner2_wrapper {
  width: 650px;
}
.about_us_banner2_title {
  font-size: 40px;
  font-weight: 1000;
}
.about_us_banner2_tekst {
  padding-top: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
.a_color_red {
  color: rgba(255,0,0,0.5);
  text-decoration: none;
}

.about_us_banner_panos {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(247,247,247,1);
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 40px 0;
}
.background_image_panos {
  background: red;
  position: absolute;
  width: 300px;
  height: 300px;
  transform: translate(65px, -65px);
  z-index: 5;
}
.panos {
  background: grey;
  background-image: url("../img/foto_zelf/foto_panos_vierkant.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about_us_banner_martijn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 40px 0;
}
.background_image_martijn {
  background: red;
  position: absolute;
  width: 300px;
  height: 300px;
  transform: translate(-65px, -65px);
  z-index: 5;
}
.martijn {
  background: grey;
  background-image: url("../img/foto_zelf/foto_martijn_vierkant.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vierkant {
  width: 400px;
  height: 400px;
}
.foto_zelf {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 30px;
}
.about_us_image {
  position: absolute;
  z-index: 10;
}



/*--------------------------FADE IN ANIMATION-------------------------------*/

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}

/*----------REDIRECT PAGE STYLE---------------*/

.redirect_text {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
  font-size: 18px;
  height: 50px;
  width: 100%;
  background: rgba(255,255,255,1);
}
