

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

body {
  overflow-x: hidden;
}

/*--------------------------NAVIGATION BAR STYLE-------------------------------*/

.navbar {
  width: 100vw;
  overflow: hidden;
  z-index: 10;
}
.navbar ul {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  text-transform: uppercase;
}
.logo {
  padding: 20px 20px;
  position: absolute;
  font-weight: bold;
}
.logo {
  color: #000;
  text-decoration: none;
}
.navbar li {
  list-style-type: none;
  padding: 20px 20px;
}
.navbar ul a {
  text-decoration: none;
  color: #333;
}
.navbar li:hover {
  box-shadow: inset 0px -2px 0px 0px #000;
  transition: box-shadow 0.5s;
}
.navbar img {
  display: none;
  height: 30px;
  padding: 15px;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.burger_check {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  display: none;
  z-index: 5;
  cursor: pointer;
}
.navbar_burger {
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  visibility: hidden;
}
.navbar_burger ul {
  text-align: center;
  font-size: 30px;
}
.navbar_burger li {
  list-style-type: none;
  padding: 20px 20px;
  text-transform: uppercase;
}
.navbar_burger ul a {
  text-decoration: none;
  color: #FFF;
}
.navbar_burger ul li a:hover {
  color: #DDA;
  transition: color 0.5s;
}


/*--------------------------RESPONSIVE NAVIGATION BAR STYLE-------------------------------*/

@media only screen and (max-width: 700px) {
  .navbar img {
    display: block;
  }
  .navbar ul {
    visibility: hidden;
  }
  .burger_check {
    display: block;
    opacity: 0;
  }
  .burger_check:checked + .navbar_burger{
    visibility: visible;
  }
}


/*--------------------------BANNER STYLE-------------------------------*/

.banner {
  background-image: url("../img/box_girl.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
}
.banner_txt {
  width: 350px;
  padding-left: 50px;
}
.banner_txt p {
  letter-spacing: -1px;
  line-height: 65px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80px;
  color: #fff;
  transition: font-size 0.5s;
}
.banner_txt a{
  background-color: rgba(5,5,5, 0.9);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  padding: 5px 20px;
  line-height: 50px;
  text-decoration: none;
  transition: color .5s, background-color .5s;
}
.banner_txt a:hover {
  color: black;
  background-color: white;
  transition: color .5s, background-color .5s;
}

.banner2 {
  background-image: url("../img/nike_shoe.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  align-items: center;
  -webkit-align-items: center;
}
.banner_txt2 {
  width: 540px;
  padding-right: 50px;
}
.banner_txt2 p {
  letter-spacing: -1px;
  line-height: 65px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80px;
  color: #fff;
  transition: font-size 0.5s;
  text-align: right;
}
.banner_txt2 a{
  background-color: rgba(5,5,5, 0.9);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #FFF;
  padding: 5px 20px;
  margin-left: 50%;
  line-height: 50px;
  text-decoration: none;
  transition: color .5s, background-color .5s;
}
.banner_txt2 a:hover {
  color: black;
  background-color: white;
  transition: color .5s, background-color .5s;
}

/*--------------------------RESPONSIVE BANNER STYLE-------------------------------*/

@media only screen and (max-width: 700px) {
  .banner_txt {
    width: 270px;
  }
  .banner_txt p {
    font-size: 60px;
    line-height: 50px;
    transition: font-size 0.5s;
  }
  .banner_txt2 {
    width: 470px;
  }
  .banner_txt2 p {
    font-size: 60px;
    line-height: 50px;
    transition: font-size 0.5s;
  }
}
@media only screen and (max-width: 450px) {
  .banner_txt {
    width: 270px;
  }
  .banner_txt p {
    font-size: 40px;
    line-height: 35px;
    transition: font-size 0.5s;
  }
  .banner_txt2 {
    width: 470px;
  }
  .banner_txt2 p {
    font-size: 40px;
    line-height: 35px;
    transition: font-size 0.5s;
  }
}

/*--------------------------BANNER NAVIGATION STYLE-------------------------------*/

.banner_nav_wrapper {
    padding: 30px;
    padding-top: 50px;
}
.banner_nav p {
  font-size: 20px;
}
.banner_nav_items {
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  margin-top: 15px;
  position: relative;
}
.banner_nav_items .item1 {
  background-image: url("../img/male_skate.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 500px;
  height: 700px;
}
.banner_nav_items .item2 {
  background-image: url("../img/women_box.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 500px;
  height: 700px;
}
.banner_nav_items .item3 {
  background-image: url("../img/kid_basket.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  width: 500px;
  height: 700px;
}
.banner_nav_items a {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255,1);
  transition: background-color .3s;
  color: rgb(0,0,0);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  padding: 10px 30px;
  margin: 15px;
}
.banner_nav_items a:hover {
  background-color: rgba(255,255,255,0.7);
  transition: background-color .3s;
}

/*-----------FOOTER STYLE-----------*/

.footer {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  margin-top: 20px;
  height: 50px;
  width: 100vw;
  background: rgba(255,255,255,1);
  color: rgba(44,44,44);
  position: relative;
  z-index: 10;
}

.footer p {
  font-size: 12px;
}

/*-----------ITEM WRAPPER STYLE-----------*/
.title_items p {
  padding: 30px 15vw;
  font-size: 30px;
  font-weight: 300;
}

.item_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  padding: 0 15vw;
}
.item {
  background-color: rgba(44,44,44,1);
  position: relative;
  padding-top: 130%;
  margin: 1px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.item_clickable {
  color: black;
  text-decoration: none;
}
.item_bottom {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(233,233,233,0.9);
  width: 100%;
  padding-top: 20%;
  padding-bottom: 0;
  transition: padding-bottom 0.5s;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
}
.item_bottom p.product {
  position: absolute;
  top: 50%; /* center the p vertically */
  transform: translateY(-50%); /* center the p vertically */
}
.item_bottom p.beschrijving {
  position: absolute;
  margin-left: 15px;
  margin-right: 15px;
  top: 100%;
  opacity: 0;
}
.item_bottom p.kleuren {
  position: absolute;
  margin-left: 15px;
  margin-right: 15px;
  top: 100%;
  opacity: 0;
}

.item_bottom:hover {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  padding-bottom: 40%;
  transition: padding-bottom 0.5s;
}
.item_bottom:hover > p.product {
  top: 10%;
  transform: translateY(0);
  margin-left: 15px;
  transition: top 0.5s, transform 0.5s;
}
.item_bottom:hover > p.beschrijving {
  top: 25%;
  opacity: 1;
  transition: top 0.5s, opacity 1s;
}
.item_bottom:hover > p.kleuren {
  top: 80%;
  opacity: 1;
  transition: top 0.5s, opacity 1s;
}

.red_dot {
  height: 15px;
  width: 15px;
  background-image: linear-gradient(to bottom right, rgba(255,0,0,0.2), rgba(255,0,0,1));
  border-radius: 50%;
  position: absolute;
  top: calc(80% - 14px);
  margin-left: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.white_dot {
  height: 15px;
  width: 15px;
  background-image: linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(200,200,200,1));
  border-radius: 50%;
  position: absolute;
  top: calc(80% - 14px);
  margin-left: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.black_dot {
  height: 15px;
  width: 15px;
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.2), rgba(0,0,0,1));
  border-radius: 50%;
  position: absolute;
  top: calc(80% - 14px);
  margin-left: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}
.blue_dot {
  height: 15px;
  width: 15px;
  background-image: linear-gradient(to bottom right, rgba(0,0,255,0.2), rgba(0,0,250,1));
  border-radius: 50%;
  position: absolute;
  top: calc(80% - 14px);
  margin-left: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}

.item_revolt {
  background-image: url("../img/nike_revolt.jpg");
  background-position: center;
  background-size: cover;
}
.item_nike_yw {
  background-image: url("../img/Nike_Shoe_Yellow_White.jpg");
  background-position: center;
  background-size: cover;
}
.item_nike_print {
  background-image: url("../img/Nike_Shoe_Print.jpg");
  background-position: center;
  background-size: cover;
}
.item_track_suit {
  background-image: url("../img/puma_pak.jpg");
  background-position: center;
  background-size: cover;
}
.item_nike_shirt_red {
  background-image: url("../img/Nike_Shirt_Sport_Red.jpg");
  background-position: center;
  background-size: cover;
}
.item_shirt_bwb {
  background-image: url("../img/Shirt_Black_White_Blue.jpg");
  background-position: center;
  background-size: cover;
}

/*-----------ITEMS CARD RESPONSIVE-----------*/

@media only screen and (max-width: 1300px) {
  .item_wrapper {
    padding: 0 15px;
    transition: padding, 0.5s;
  }
  .title_items p {
    padding: 0 15px;
    transition: padding, 0.5s;
  }
}
@media only screen and (max-width: 600px) {
  .item_wrapper {
    grid-template-columns: repeat(2, 50%);
  }
  .item_bottom {
    font-size: 11px;
  }
  .title_items p {
    font-size: 20px;
  }
}

/*-----------CONTACT STYLE-----------*/

.contact_container {
  width: 100%;
  border: 2px solid rgba(0,0,0,1);
  border-radius: 5px;
}

input[type=text] {
  display: flex;
  width: 75%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 5px;
  background-color: rgba(50.2,50.2,50.2,0.2)

}

input[type=email] {
  display: flex;
  width: 75%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 5px;
  background-color: rgba(50.2,50.2,50.2,0.2)

}

input[type=tel] {
  display: flex;
  width: 75%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 5px;
  background-color: rgba(50.2,50.2,50.2,0.2)

}

input[type=radio] {
  display: flex;
  width: 75%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 5px;
  background-color: rgba(50.2,50.2,50.2,0.2)

}

input[type=date] {
  display: flex;
  justify-content: center;
  width: 75%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,1);
  border-radius: 5px;
  background-color: rgba(50.2,50.2,50.2,0.2)
}

/*-----------ITEM PAGE STYLE-----------*/

.item_view_wrapper {
  display: flex;
}
.item_img {
  width: calc(100vw - 320px);
  height: 650px;
}
.item_img_nr {
  background-image: url("../img/nike_shoe.jpg");
  background-position: -200px;
  background-size: cover;
}
.item_order {
  width: 280px;
  margin-bottom: 50px;
  padding: 20px;
  height: calc(100vh - 120px);
  background: white;
  position: fixed;
  right: 0;
}

.item_title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}
.item_text_kleur {
  text-transform: uppercase;
  font-weight: 100;
}
.item_prijs {

}
.item_maat {
  text-transform: uppercase;
  font-size: 14px;
}
.maat_items {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}
.maat_items input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 0;
  margin: 0;
}
.maat_items label {
  background-color: white;
  padding: 10px 30px;
  font-size: 14px;
  text-align: center;
  box-shadow:inset 0px 0px 0px 0.5px rgba(240,240,240,1);
}
.maat_items label:hover {
  background-color: black;
  color: white;
}
.maat_items input[type="radio"]:checked + label {
  background-color: black;
  color: white;
  font-weight: 600;
}

.submit_button {
  background: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
  border:none;
  padding: 12px 40px;
  font-size: 15px;
  font-weight: 500;
}
.submit_button:hover {
  color: rgba(200,200,200,1);
  cursor: pointer;
}

/*----------REDIRECT PAGE STYLE---------------*/

.redirect_text {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  text-align: center;
  font-size: 18px;
  height: 50px;
  width: 100vw;
  background: rgba(255,255,255,1);
}
